:root{
    --cor-fundo: #1E1E1E;
    --cor-barra-navegacao: #555658;
    --cor-texto: #B8BFC6;
}

*{
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

ol,
ul {
    list-style: none;
}


a {
    text-decoration: none;
    color: var(--cor-texto );
    font-weight: 600;
}

.conteiner {

    width: 100%;
    height: 100vh;
    background-color: var(--cor-fundo);
}

.conteiner-boasVindas{
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 90vh; 
}

.conteiner-formatacao {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh; 
}

.conteiner-formatacao-conteudo{
    display: flex;
    flex-direction: row;
    padding: 5%;
    gap: 5%;
}

.conteiner-formatacao-texto{
    display: flex;
    flex-direction: column;
}

.conteiner-formatacao-galeria{
    display: flex;
    align-content: stretch;
}

.titulo{
    color: var(--cor-texto);
    font-size: 64px;
}

.titulo-top {
    color: #FA065E;
    font-size: 30px;
}

.texto{
    color: var(--cor-texto);
    font-size: 28px;
}


.header-page{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-barra-navegacao);
    padding: 30px;
}

.header-page ul {
    display: flex;
    gap: 20px;
}

.foto-galeria{
    width: 533px;
    height: 310px;
    border-radius: 10px;
}